# -*- conf -*-
#
# Awesome Powers - scripts & config files of pure awesomeness
#
# Copyright 2018-2024 Michael D Labriola <veggiemike@sourceruckus.org>
#
# Licensed under the GPLv3. See the file COPYING for details. 
#
[Unit]
Description=AVImarkServer service (via Wine)
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/srap/awesome-powers/wine/AVImarkServer start
PIDFile=/run/AVImarkServer/pid
ExecStop=/srap/awesome-powers/wine/AVImarkServer stop

[Install]
WantedBy=multi-user.target
