# -*- conf -*-
#
# Awesome Powers - scripts & config files of pure awesomeness
#
# Copyright 2018-2021 Michael D Labriola <michael.d.labriola@gmail.com>
#
# Licensed under the GPLv3. See the file COPYING for details. 
#
# Similar to cah-wait-online.service, this service is inserted to force the
# drbd service to wait for a particular ip to be reachable.
#
[Unit]
Description=wait for drbd network connectivity
Requires=NetworkManager.service
After=NetworkManager.service
Before=network-online.target

[Service]
Type=oneshot
# NOTE: On our core servers, we've got direct 10gig links to eath of our other
#       core servers.  As with cah-wait-online, we need to wait for OUR side of
#       the interface(s), but we really need to be able to wait for ALL the
#       interfaces to be up.
#
ExecStart=/scrap/awesome-powers/net/wait-for-host 192.168.10.1 192.168.11.1
RemainAfterExit=yes

[Install]
WantedBy=network-online.target
