# -*- conf -*-
#
# Awesome Powers - scripts & config files of pure awesomeness
#
# Copyright 2018-2021 Michael D Labriola <michael.d.labriola@gmail.com>
#
# Licensed under the GPLv3. See the file COPYING for details. 
#
# Similar to cah-wait-online.service, this service is inserted to force the
# drbd service to wait for a particular ip to be reachable.
#
[Unit]
Description=wait for drbd network connectivity
Requires=NetworkManager.service
After=NetworkManager.service
Before=network-online.target
#Before=drbd.service
#
# FIXME: why/when was drbd.service replaced with network-online.service?  i
#        don't recall doing that...
#

[Service]
Type=oneshot
# NOTE: Ok, this is gonna be complicated.  On our core servers, we've got 2
#       different direct fiber connections to the other core server.  As with
#       cah-wait-online, we need to wait for OUR side of the interface, but we
#       really need to be able to wait for ALL the interfaces to be up.
#
ExecStart=/scrap/awesome-powers/net/wait-for-host 192.168.10.1 192.168.11.1
RemainAfterExit=yes

[Install]
WantedBy=network-online.target
