# -*- conf -*-
#
# Awesome Powers - scripts & config files of pure awesomeness
#
# Copyright 2018-2022 Michael D Labriola <veggiemike@sourceruckus.org>
#
# Licensed under the GPLv3. See the file COPYING for details. 
#
# Service controlling loopenator (which sets up loop devices per a config
# file).
#
[Unit]
Description=loopenator
After=local-fs.target zfs.target
Wants=local-fs.target

[Service]
Type=oneshot
ExecStart=/scrap/awesome-powers/disk/loopenator
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
