# -*- conf -*-
#
# Awesome Powers - scripts & config files of pure awesomeness
#
# Copyright 2018-2024 Michael D Labriola <veggiemike@sourceruckus.org>
#
# Licensed under the GPLv3. See the file COPYING for details. 
#
# This unit file is needed on systems with multiple interfaces, when you want
# network-only.target to wait for a particular one.  This seem to even be
# needed when you've got xenbr0 and xenbr0.20... as otherwise network-online
# can happen after the IPless xenbr0 is raised and you're still waiting for
# DHCP to finish its dance on xenbr0.20.  Or maybe it was because eth0 was up
# before xenbr0 or xenbr0.20...?  something like that.  either way, this fixes
# it.
#
[Unit]
Description=wait for nautilus network connectivity
Requires=NetworkManager.service
After=NetworkManager.service
Before=network-online.target

[Service]
Type=oneshot
# NOTE: There are a couple slightly different things we're trying to accomplish
#       here, depending on the box that's booting.
#
#       workstations: wait for gw interface (e.g., 10.1.20.1) to make sure we
#       can reach the whole network.
#
#       core servers: wait for OUR vlan20 ip address, so we stop waiting once
#       our vlan interface is up.  we have to work around the chance that
#       srv-router isn't up yet, from a complete cold start.
#
ExecStart=/scrap/awesome-powers/net/wait-for-host 10.1.20.1
RemainAfterExit=yes

[Install]
WantedBy=network-online.target
